@import url("https://fonts.googleapis.com/css2?family=Alata:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;500;600;700;800;900&display=swap");

@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant alternate (&:is(.alternate *));
@custom-variant badge-alt (&:is(.badge-alt *));
@custom-variant btn-dark (&:is(.btn-dark *));
@custom-variant btn-light (&:is(.btn-light *));

@theme {
  --color-white: #ffffff;
  --color-neutral-lightest: #f2f2f2;
  --color-neutral-lighter: #d9d9d9;
  --color-neutral-light: #b3b4b4;
  --color-neutral: #818282;
  --color-neutral-dark: #4e5050;
  --color-neutral-darker: #1c1e1e;
  --color-neutral-darkest: #030506;
  --color-white-5: color-mix(in srgb, var(--color-white), transparent 95%);
  --color-white-10: color-mix(in srgb, var(--color-white), transparent 90%);
  --color-white-15: color-mix(in srgb, var(--color-white), transparent 85%);
  --color-white-20: color-mix(in srgb, var(--color-white), transparent 80%);
  --color-white-30: color-mix(in srgb, var(--color-white), transparent 70%);
  --color-white-40: color-mix(in srgb, var(--color-white), transparent 60%);
  --color-white-50: color-mix(in srgb, var(--color-white), transparent 50%);
  --color-white-60: color-mix(in srgb, var(--color-white), transparent 40%);
  --color-neutral-darkest-5: color-mix(
    in srgb,
    var(--color-neutral-darkest),
    transparent 95%
  );
  --color-neutral-darkest-10: color-mix(
    in srgb,
    var(--color-neutral-darkest),
    transparent 90%
  );
  --color-neutral-darkest-15: color-mix(
    in srgb,
    var(--color-neutral-darkest),
    transparent 85%
  );
  --color-neutral-darkest-20: color-mix(
    in srgb,
    var(--color-neutral-darkest),
    transparent 80%
  );
  --color-neutral-darkest-30: color-mix(
    in srgb,
    var(--color-neutral-darkest),
    transparent 70%
  );
  --color-neutral-darkest-40: color-mix(
    in srgb,
    var(--color-neutral-darkest),
    transparent 60%
  );
  --color-neutral-darkest-50: color-mix(
    in srgb,
    var(--color-neutral-darkest),
    transparent 50%
  );
  --color-neutral-darkest-60: color-mix(
    in srgb,
    var(--color-neutral-darkest),
    transparent 40%
  );
  --color-stromboli-lightest: #eaeeed;
  --color-stromboli-lighter: #d5dedb;
  --color-stromboli-light: #6c8d83;
  --color-stromboli: #2e5d4e;
  --color-stromboli-dark: #244a3e;
  --color-stromboli-darker: #12251f;
  --color-stromboli-darkest: #0d1b17;
  --color-whiskey-lightest: #faf5f1;
  --color-whiskey-lighter: #f6ece3;
  --color-whiskey-light: #e0be9d;
  --color-whiskey: #d4a373;
  --color-whiskey-dark: #a9825c;
  --color-whiskey-darker: #54412e;
  --color-whiskey-darkest: #3f3022;
  --color-merino-lightest: #fefdfc;
  --color-merino-lighter: #fdfbfa;
  --color-merino-light: #f8f3ed;
  --color-merino: #f5efe6;
  --color-merino-dark: #c4bfb8;
  --color-merino-darker: #625f5c;
  --color-merino-darkest: #494745;
  --color-east-bay-lightest: #ebeef1;
  --color-east-bay-lighter: #d7dee4;
  --color-east-bay-light: #758ba0;
  --color-east-bay: #3a5a78;
  --color-east-bay-dark: #2e4860;
  --color-east-bay-darker: #172430;
  --color-east-bay-darkest: #111b24;

  --font-weight-bold: 400;

  --text-h1: 2.75rem;
  --text-h1--line-height: 1.2;
  --text-h1--letter-spacing: -1%;

  --text-h2: 2.5rem;
  --text-h2--line-height: 1.2;
  --text-h2--letter-spacing: -1%;

  --text-h3: 2rem;
  --text-h3--line-height: 1.2;
  --text-h3--letter-spacing: -1%;

  --text-h4: 1.5rem;
  --text-h4--line-height: 1.3;
  --text-h4--letter-spacing: -1%;

  --text-h5: 1.25rem;
  --text-h5--line-height: 1.4;
  --text-h5--letter-spacing: -1%;

  --text-h6: 1.125rem;
  --text-h6--line-height: 1.4;
  --text-h6--letter-spacing: -1%;

  --text-large: 1.125rem;
  --text-large--line-height: 1.5;

  --text-medium: 1rem;
  --text-medium--line-height: 1.5;

  --text-regular: 0.75rem;
  --text-regular--line-height: 1.5;

  --text-small: 0.75rem;
  --text-small--line-height: 1.5;

  --text-tiny: 0.625rem;
  --text-tiny--line-height: 1.5;

  @layer theme {
    @media (min-width: 992px) {
      * {
        --text-h1: 4.5rem;
        --text-h2: 3.25rem;
        --text-h3: 2.75rem;
        --text-h4: 2.25rem;
        --text-h5: 1.75rem;
        --text-h6: 1.375rem;
        --text-large: 1.375rem;
        --text-medium: 1.125rem;
        --text-regular: 1rem;
        --text-small: 0.875rem;
        --text-tiny: 0.75rem;
      }
    }
  }

  --radius-button: 0.75rem;
  --radius-card: 1rem;
  --radius-checkbox: 0.25rem;
  --radius-carousel: 0.5rem;
  --radius-form: min(0.75rem, 0.75rem);
  --radius-badge: 0.75rem;
  --radius-image: 1rem;

  --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;

  --container-*: initial;
  --container-xxs: 20rem;
  --container-xs: 25rem;
  --container-sm: 30rem;
  --container-md: 35rem;
  --container-lg: 48rem;
  --container-xl: 64rem;
  --container-xxl: 80rem;

  --max-w-xxs: var(--container-xxs);
  --max-w-xs: var(--container-xs);
  --max-w-sm: var(--container-sm);
  --max-w-md: var(--container-md);
  --max-w-lg: var(--container-lg);
  --max-w-xl: var(--container-xl);
  --max-w-xxl: var(--container-xxl);

  --spacing-18: 4.5rem;
  --spacing-30: 7.5rem;

  @keyframes accordion-down {
    from {
      height: 0px;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0px;
    }
  }
  @keyframes loop-horizontally {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  @keyframes loop-testimonials {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-135rem);
    }
  }
  @keyframes loop-vertically {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-50%);
    }
  }
  @keyframes loop-vertically-top {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-50%);
    }
  }
  @keyframes loop-vertically-bottom {
    from {
      transform: translateY(-50%);
    }
    to {
      transform: translateY(0);
    }
  }
  @keyframes marquee-horizontally {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
  @keyframes marquee-top {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
  @keyframes marquee-right {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }
  @keyframes marquee-bottom {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(0%);
    }
  }
  @keyframes marquee-left {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes tabs {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-loop-horizontally: loop-horizontally 20s linear infinite;
  --animate-loop-testimonials: loop-testimonials 30s linear infinite;
  --animate-loop-vertically: loop-vertically 30s linear infinite;
  --animate-loop-vertically-top: loop-vertically-top 50s linear infinite;
  --animate-loop-vertically-bottom: loop-vertically-bottom 50s linear infinite;
  --animate-marquee-horizontally: marquee-top 30s linear infinite;
  --animate-marquee-top: marquee-top 50s linear infinite;
  --animate-marquee-right: marquee-right 25s linear infinite;
  --animate-marquee-bottom: marquee-bottom 50s linear infinite;
  --animate-marquee-left: marquee-left 25s linear infinite;
  --animate-tabs: tabs 0.6s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@utility scheme-1 {
  --color-scheme-background: var(--color-neutral-lightest);
  --color-scheme-foreground: var(--color-white);
  --color-scheme-text: var(--color-neutral-darkest);
  --color-scheme-border: var(--color-neutral-darkest-15);
  --color-scheme-btn-text: var(--color-white);

  background-color: var(--color-scheme-background);
  color: var(--color-scheme-text);

  & [data-slot="button"][data-variant="default"] {
    color: var(--color-scheme-btn-text);
  }
}

@utility scheme-2 {
  --color-scheme-background: var(--color-white);
  --color-scheme-foreground: var(--color-neutral-lightest);
  --color-scheme-text: var(--color-neutral-darkest);
  --color-scheme-border: var(--color-neutral-darkest-15);
  --color-scheme-btn-text: var(--color-white);

  background-color: var(--color-scheme-background);
  color: var(--color-scheme-text);

  & [data-slot="button"][data-variant="default"] {
    color: var(--color-scheme-btn-text);
  }
}

@utility scheme-3 {
  --color-scheme-background: var(--color-stromboli-lightest);
  --color-scheme-foreground: var(--color-stromboli-lighter);
  --color-scheme-text: var(--color-neutral-darkest);
  --color-scheme-border: var(--color-neutral-darkest-15);
  --color-scheme-btn-text: var(--color-white);

  background-color: var(--color-scheme-background);
  color: var(--color-scheme-text);

  & [data-slot="button"][data-variant="default"] {
    color: var(--color-scheme-btn-text);
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Alata", sans-serif;
  }

  body {
    font-family: "Source Sans 3", sans-serif;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@utility container {
  margin-inline: auto;
  max-width: var(--container-xxl);
}

@utility scrollbar-none {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@utility logo-alt {
  & img[alt*="logo" i],
  & img[src*="logo" i] {
    filter: brightness(0) invert(1);
  }
}
